body {
    text-align: center;
    font-family: Arial;
    background-color: #e6f7ff;
}

input {
    margin: 10px;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
}
